#pageContainer {
    position: relative;
    min-height: 100vh;
}

#contentWrap {
    height: 1000px;
    padding-bottom: 2.5rem;
    /* Footer height */
}

#footerContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Footer height */
}